.form {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	display: block;
	margin: 0.75rem auto 0;
	max-width: 500px;
	padding: 1rem;
}

.label,
.input {
	display: block;
}

.label {
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.input {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	font-size: 1rem;
	margin-bottom: 0.75rem;
	padding: .25rem;
	width: 100%;
}

.button {
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: darkblue;
	border: 1px solid darkblue;
	border-radius: .25rem;
	color: white;
	cursor: pointer;
	display: block;
	padding: .5rem .75rem;
	font-weight: 500;
}

.button:hover {
	background-color: #fcfcff;
	border: 1px solid #fcfcff;
	color: darkblue;
	box-shadow:  0px 3px 6px 0px #d2d7da;
}